
body {
  background: white;
  font-family: Georgia;
}

h1 {
    color: black;
    text-align: center;
    padding-top: 30px;
  }

h2 {
  text-align: center;
}


h4 {
  text-align: center;
}

p {
  text-align: center;
}

form {
  text-align: center;
}

.navbar {
  background-color:#F2B79F;
}

.navbar-brand:hover, .nav-link:hover{
  background-color:#E1A68E;

}
.navbar-brand, .nav-link {
  padding: 5px;
  border-radius: 5px;
}

footer {
  text-align: center;
  font-family: Georgia;
  margin-top: 25px;
  background-color: #F2B79F;
  color: white;
  width:100%;
  display: block;
  position:absolute;
  
 
}

#signin {
  margin-top: 250px;
}

#forgotuser {
  margin-top:20px;
}

footer#sign-in-footer{
  text-align: center;
  font-family: Georgia;
  margin-top: 25px;
  background-color: #F2B79F;
  color: white;
  width:100%;
  display: block;
  position:absolute;
  right: 0;
  bottom:0;
  left:0;

}
.btn-secondary {
  background-color: #E5B769 !important;
  color:black;
  font-size: medium;
}

.btn-secondary:hover{
  color: white;
}

body::-webkit-scrollbar { 
  display: none; 
  }